<section class="mainContentSection" style="margin-top: 20px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="infoTitle">
                    <h2>Informações pessoais</h2>
                </div>
                <div class="bookingForm">
                    <form action="" method="POST" role="form" class="form">
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="">Nome</label>
                                <input type="text" class="form-control" ng-model="user.nome">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="">Email</label>
                                <input type="text" class="form-control" value="{{user.email}}">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="">CPF</label>
                                <input type="text" class="form-control" ng-model="user.cpf">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="">Data nascimento</label>
                                <input type="text" class="form-control" value="{{user.data_nascimento | date: 'dd/MM/yyyy'}}">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="">Sexo</label>
                                <input type="text" class="form-control" value="Masculino" ng-if="user.sexo == 'M'">
                                <input type="text" class="form-control" value="Feminino" ng-if="user.sexo == 'F'">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="">Telefone</label>
                                <input type="text" class="form-control" value="{{user.telefone}}">
                            </div>
                            <div class="form-group col-sm-4 col-xs-12">
                                <label for="">UF</label>
                                <input type="text" class="form-control" value="{{user.uf}}">
                            </div>
                            <div class="form-group col-sm-4 col-xs-12">
                                <label for="">Município</label>
                                <input type="text" class="form-control" value="{{user.municipio}}">
                            </div>
                            <div class="form-group col-sm-4 col-xs-12">
                                <label for="">CEP</label>
                                <input type="text" class="form-control" value="{{user.cep}}">
                            </div>
                            <div class="form-group col-sm-4 col-xs-12">
                                <label for="">Endereço</label>
                                <input type="text" class="form-control" value="{{user.endereco}}">
                            </div>
                            <div class="form-group col-sm-4 col-xs-12">
                                <label for="">Bairro</label>
                                <input type="text" class="form-control" value="{{user.bairro}}">
                            </div>
                            <div class="form-group col-sm-4 col-xs-12">
                                <label for="">Complemento</label>
                                <input type="text" class="form-control" value="{{user.complemento}}">
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="infoTitle">
                    <h2>Cartões cadastrados</h2>
                </div>
                <div class="panel panel-default" style="cursor: pointer" ng-click="addCard();" ng-if="cards.length" ng-repeat="card in cards">
                    <div class=" panel-body">
                        <span>
                            <img src="{{card.imagem}}" alt="image">
                        </span>
                        <span>{{card.numero}}</span>
                    </div>
                </div>
                <div class="panel panel-default" style="cursor: pointer" ng-click="addCard();">
                    <div class=" panel-body">
                        <span>Adicionar cartão</span>
                    </div>
                </div>
                <div class="bookingForm" ng-if="formCard">
                    <form action="" method="POST" role="form" class="form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="infoTitle">
                                    <h2>Dados do cartão</h2>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Número</label>
                                <input type="text" class="form-control" ng-model="formData.numero">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label>Código de segurança</label>
                                <input type="text" class="form-control" ng-model="formData.codigo">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label class="blankLabel"></label>
                                <ul class="list-inline">
                                    <li><a href="" ng-click="addTypeCard('M')"><img src="img/master-card.png" alt="image"></a></li>
                                    <li><a href="" ng-click="addTypeCard('V')"><img src="img/visa.png" alt="image"></a></li>
                                </ul>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label class="blankLabel">Vencimento</label>
                                <div class="bookingDrop">
                                    <select class="form-control" ng-model="formData.mes">
                                        <option value="0">Mês</option>
                                        <option value="1">July</option>
                                        <option value="2">August</option>
                                        <option value="3">September</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label></label>
                                <div class="bookingDrop">
                                    <select ng-model="formData.ano" class="form-control">
                                        <option value="0">Ano</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!--<p style="text-align: center">TOTAL: R$ {{ totalIngressos(event.lotes) }}</p>-->
                                <div class="btnArea">
                                    <a href="" class="btn buttonTransparent" ng-click="cancelCard()">Cancelar</a>
                                    <a href="" class="btn buttonTransparent" ng-click="saveCard()">Salvar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>