
.bg-login {
    background-position-y: 457px;
}
@media(max-width:800px){
    .bg-login {
        background-position-y: 0px;
    }
}

.filte-white {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}


input[type="file"] {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.custom-file-upload {
    position: absolute;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

}

.control-file {
    position: relative;
    height: 45px;
}
