
<link rel="stylesheet" type="text/css" href="../public/css/login/login-custom.css">

<!-- PAGE TITLE -->
<section class="pageTitle bg-login" style="background-image:url(../public/img/login/shutterstock_168474785.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1>Confirmacao</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- WHITE SECTION-->
<section class="mainContentSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h4>Foi enviado para seu e-mail</h4>
        <h4>o codigo de confirmacao</h4>
        <div class="contactForm">
          <form action="" method="POST" role="form" class="form">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="code" placeholder="Codigo de confirmacao">
            </div>
            <button type="button" class="btn buttonCustomPrimary" ng-click="check()">Confirmar</button>

            <button type="button" class="btn buttonCustomPrimary" style="margin-right:10px;" ng-click="resend()">Reenviar codigo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

