<link rel="stylesheet" type="text/css" href="../public/css/login/login-custom.css">

<section class="pageTitle" style="background-image:url(../public/img/login/festa-706x410.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titleTable">
                    <div class="titleTableInner">
                        <div class="pageTitleInfo">
                            <h1>Lista de eventos</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" packagesSection" style="margin-top:10px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="padding: 10px;text-align: right">
                <a href="" class="btn buttonTransparent" ng-click="create()">Cadastrar novo Evento</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="media packagesList" ng-repeat="event in events" style="min-height: auto">
                    <div class="media-body" style="padding-bottom: 20px">
                        <div class="bodyLeft">
                            <h4 class="media-heading"><a href="">{{event.nome}}</a></h4>
                            <div class="countryRating">
                                <span>{{event.local}}</span>
                                {{event.data_evento | date:'dd/MM/yyyy'}}
                            </div>
                            <ul class="list-inline" style="margin-top:20px">
                                <li><a href="#/admin/lotes/evento/{{event.id}}" class="btn buttonTransparent clearfix">Lotes</a></li>
                                <li><a href="#/admin/event/edit/{{event.id}}" class="btn buttonTransparent clearfix">Editar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<div class="paginationCenter">-->
                    <!--<ul class="pagination">-->
                        <!--<li>-->
                            <!--<a href="#" aria-label="Previous">-->
                                <!--<span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="active"><a href="#">1</a></li>-->
                        <!--<li><a href="#">2</a></li>-->
                        <!--<li><a href="#">3</a></li>-->
                        <!--<li><a href="#">...</a></li>-->
                        <!--<li><a href="#">9</a></li>-->
                        <!--<li>-->
                            <!--<a href="#" aria-label="Next">-->
                                <!--<span aria-hidden="true">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>