
<link rel="stylesheet" type="text/css" href="../public/css/login/login-custom.css">

<!-- PAGE TITLE -->
<section class="pageTitle bg-login" style="background-image:url(../public/img/login/The+Maxim+Party+2016+Pavilion.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1>Cadastre-se</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- WHITE SECTION-->
<section class="mainContentSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12" style="border-right: 1px dashed #ccc;min-height:400px">
        <div class="contactInfo">
          <h4>Informacoes de usuario</h4>
          <div class="contactForm">
            <form action="" method="POST" role="form" class="form">
              <div class="form-group  col-xs-12">
                <input type="text" class="form-control"  ng-model="formdata.nome" placeholder="Nome">
              </div>
              <div class="form-group  col-xs-12 col-sm-6">
                <input type="text" class="form-control"  ng-model="formdata.cpf" placeholder="CPF" ui-br-cpf-mask>
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <div class="input-group date ed-datepicker" data-provide="datepicker">
                  <input type="text" class="form-control" ng-model="formdata.date"  placeholder="MM/DD/YYYY">
                  <div class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <select name="guiest_id2" ng-model="formdata.sexo" id="guiest_id2" placeholder="Sexo" class="form-control">
                  <option value="">Sexo</option>
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
                </select>
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <input type="text" class="form-control"  ng-model="formdata.telefone" placeholder="Telefone" ui-br-phone-number>
              </div>
              <div class="form-group  col-xs-12">
                <input type="text" class="form-control"   ng-model="formdata.email" placeholder="E-mail">
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <input type="password" class="form-control"  ng-model="formdata.senha" placeholder="Senha">
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <input type="password" class="form-control"  ng-model="formdata.conf_senha" placeholder="Confirmar Senha">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <h4>Endereco</h4>
        <div class="contactForm">
          <form action="" method="POST" role="form" class="form">
              <div class="form-group col-sm-6">
                  <input type="text" class="form-control"  ng-model="formdata.cep" placeholder="CEP" ui-br-cep-mask ng-change="loadcep()">
              </div>
              <div class="col-xs-12"></div>
              <div class="form-group col-sm-6 col-xs-12">
                  <select name="guiest_id2" ng-model="formdata.uf" id="guiest_id2" placeholder="UF" class="form-control">
                      <option value="">UF</option>
                      <option value="AC">AC</option>
                      <option value="AL">AL</option>
                      <option value="AM">AM</option>
                      <option value="AP">AP</option>
                      <option value="BA">BA</option>
                      <option value="CE">CE</option>
                      <option value="DF">DF</option>
                      <option value="ES">ES</option>
                      <option value="GO">GO</option>
                      <option value="MA">MA</option>
                      <option value="MT">MT</option>
                      <option value="MS">MS</option>
                      <option value="MG">MG</option>
                      <option value="PA">PA</option>
                      <option value="PB">PB</option>
                      <option value="PR">PR</option>
                      <option value="PE">PE</option>
                      <option value="PI">PI</option>
                      <option value="RJ">RJ</option>
                      <option value="RN">RN</option>
                      <option value="RO">RO</option>
                      <option value="RS">RS</option>
                      <option value="RR">RR</option>
                      <option value="SC">SC</option>
                      <option value="SE">SE</option>
                      <option value="SP">SP</option>
                      <option value="TO">TO</option>
                  </select>
              </div>
            <div class="form-group col-sm-6 col-xs-12">
              <input type="text" class="form-control"  ng-model="formdata.municipio" placeholder="Municipio">
            </div>
            <div class="form-group col-sm-6">
              <input type="text" class="form-control"  ng-model="formdata.cep" placeholder="CEP" ui-br-cep-mask ng-change="loadcep()">
            </div>
            <div class="form-group col-xs-12">
              <input type="text" class="form-control"  ng-model="formdata.endereco"placeholder="Endereco">
            </div>
            <div class="form-group col-xs-12">
              <input type="text" class="form-control"  ng-model="formdata.bairro" placeholder="Bairro">
            </div>
            <div class="form-group col-sm-9 col-xs-12">
              <input type="text" class="form-control"  ng-model="formdata.complemento" placeholder="Complemento">
            </div>
              <div class="form-group col-sm-3 col-xs-12">
                  <input type="text" class="form-control"  ng-model="formdata.numero" placeholder="N°">
              </div>
            <button type="button" class="btn buttonCustomPrimary" ng-click="saveUser()">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

