
<link rel="stylesheet" type="text/css" href="../public/css/login/login-custom.css">

<!-- PAGE TITLE -->
<section class="pageTitle bg-login" style="background-image:url(../public/img/login/party-music-hd-wallpaper-1920x1080-3850.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1>Acesse sua conta</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- WHITE SECTION-->
<section class="mainContentSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12" style="border-right: 1px dashed #ccc;min-height:400px">
        <div class="contactInfo">
          <h4>Já possui cadastro?</h4>
          <div><span>Informe seu email e senha para continuar a sua compra.</span></div>
          <div class="contactForm">
            <form action="" method="POST" role="form" class="form">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="login.email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" ng-model="login.pass" placeholder="Senha">
              </div>
              <button type="button" class="btn buttonCustomPrimary" ng-click="loginIn()">Entrar</button>

              <button type="button" class="btn buttonCustomPrimary" style="margin-right:10px;
    background-color: #4267b2;">Entrar com facebook</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <h4>Ainda não é cadastrado?</h4>
        <div><span>Digite seu nome, email e CPF para iniciar o cadastro.</span></div>
        <div class="contactForm">
          <form action="" method="POST" role="form" class="form">
            <div class="form-group  col-xs-12">
              <input type="text" class="form-control" ng-model="formdata.nome" placeholder="Nome">
            </div>
            <div class="form-group  col-xs-12 col-sm-6">
              <input type="text" class="form-control" ng-model="formdata.cpf" placeholder="CPF" ui-br-cpf-mask>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <div class="input-group date ed-datepicker" data-provide="datepicker">
                <input type="text" class="form-control" ng-model="formdata.dataNascimento"  placeholder="MM/DD/YYYY">
                <div class="input-group-addon">
                  <span class="fa fa-calendar"></span>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <select name="guiest_id2" ng-model="formdata.sexo" id="guiest_id2" placeholder="Sexo" class="form-control">
                <option value="">Sexo</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
              </select>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <input type="text" class="form-control" ng-model="formdata.telefone" placeholder="Telefone" ui-br-phone-number>
            </div>
            <div class="form-group  col-xs-12">
              <input type="text" class="form-control" ng-model="formdata.email" placeholder="E-mail">
            </div>

            <button type="button" ng-click="saveUser()" class="btn buttonCustomPrimary">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

